<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div style="background:white; position: relative;">
        <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
          <div class="item" *ngFor="let image of images;let i = index">
           <div>
             <img style="width: 100%;" src={{image.url}}/>
           </div>
          </div>
         </owl-carousel>
      </div> -->
<div style="padding:0;">
<div class="container-fluid" style=" width:100%; border-bottom: 1px solid black; position: relative;">
    <div id="m_logo"><img style="width: 33%;" src="../../../assets/tiplogo_web.png"></div>
    <div class="row top">
      <div class="col-sm-2 menu">
        <img class="d_logo" style="width: 65%;" src="../../../assets/tiplogo_web.png">
        <ul style="text-align:right; position: absolute; top: 35%; right: 1%; width: 100%;">
          <li class="jump" style="font-size: 20px; margin: 5%;  cursor:pointer;" id="menu1" (click)="sh1();">INTRO</li>
          <li class="jump" style="font-size: 20px; margin: 5%;  cursor:pointer;" id="menu2" (click)="sh2();">AGENCY</li>
          <li class="jump" style="font-size: 20px; margin: 5%;  cursor:pointer;" id="menu3" (click)="sh3();">TIP SESSIONS</li>
          <!-- <li style="font-size: 20px; margin: 5%; color: #f1b440;" id="menu4" (click)="sh4();">PROJECTS</li> -->
        </ul>
      </div>
      <!-- <div class="mobile-menu-text" id="mobile-menu-text"></div> -->
      <div class="col-sm-10 menu-text" id="menu-text" style="padding-left: 0; padding-right: 0;">
        <video id="vid" class="desk_video" style="width: 100%; height: 100vh;"  autoplay muted preload="auto" loop>
            <source src="../../../assets/isometric grid_Final render-low.mp4" type="video/mp4">
        </video>
        <div class="row row_intro" style="position: absolute; top: 36%; width: 100%;">
          <div class="col-sm-5">
          <div id="p1">
              <p>TIP is home to clean, contemporary design. We work with you to understand your business,
                  needs and goals, and deploy our design expertise to help your brand get to where it should 
                  be. We believe in clarity in messaging, to attract and retain the right kind of attention.
                  We cut through the clutter in today’s over-saturated marketing landscape through effective
                  and intuitive design. 
               </p>
               <p>At TIP, we are a lean, efficient team, with a wide range of expertise, that brings you bold,
                  intuitive design, that is backed by a solid foundation of research. Work with us for smart,
                  direct and collaborative design and marketing that helps you carve out the right space for
                  your brand.
               </p>
          </div>
          <div id="p2">
              <p>
                  TIP was set up with the aim of making clean, modern design accessible to all, especially
                  in the fast-maturing Indian market. Having studied and worked in design and marketing in
                  the US, founder and CEO, Divya Hegde founded TIP with the aim to plug the vacuum for good
                  contemporary design in India. TIP focuses on uncompromising quality, intuitive and purposeful
                  design, based on contemporary design principles and navigating digital marketing based on a
                  keen practical awareness of the digital landscape
              </p>
          </div>
          <div id="p3">
              <p>
                  At TIP, we believe that design is not just for companies, but for society. TIP Sessions is an
                  integral part of our two-pronged strategy to spark change in social attitudes, where we leverage
                  our skills and privilege as young, urban designers to make a real, measurable impact in society,
                  on issues that matter.
              </p>
              <p>
                  TIP Sessions is a forum for action on local issues that are addressed through intelligent design
                  and targeted, local action. The goal is to bring together relevant stakeholders - be they
                  government officials, academics, NGOs, expert bodies, and most importantly, the community - to
                  facilitate a meaningful exchange of information and solutions that are actionable at the local
                  level that create exponential knock-on effect in the community.
                  <span id="readspan" style="cursor:pointer;" (click)="readmore();">Read More...</span>
              </p>
              <p id="readmore">
                  Our ongoing initiative, TIP Sessions: Coastal Edit focuses on issues that affect communities in
                  Coastal Karnataka, including water conservation, climate change, sustainable fishing practices,
                  etc. while researching and working to introduce practices at the individual and community level
                  that help to tilt the delicate ecological balance in Karnataka’s coastal belt towards greater
                  sustainability.
              </p>
          </div>
          <div id="p4">
              <p>
                  TIP was set up with the aim of making clean, modern design accessible to all, especially
                  in the fast-maturing Indian market. Having studied and worked in design and marketing in
                  the US, founder and CEO, Divya Hegde founded TIP with the aim to plug the vacuum for good
                  contemporary design in India. TIP focuses on uncompromising quality, intuitive and purposeful
                  design, based on contemporary design principles and navigating digital marketing based on a
                  keen practical awareness of the digital landscape
              </p>
          </div>
        </div>
        <div class="col">
          <ul id="deskul" style="color: white; font-size: 30px; position: absolute; left:0; top: 3%;  padding-left: 1%;">
              <li id="01"><strong>00</strong></li>
              <li class="litwo" id="02"><strong>01</strong></li>
              <li class="lithree" id="03"><strong>02</strong></li>
          </ul>
        </div>
      </div>
          <!-- <div style="position: absolute; bottom: 0; right: 0; width: 250px;"><p>&quot;Bold intuitive design backed by a solid foundation of research&quot;</p></div> -->
        </div>
    </div>
    <!-- <div class="projects_box">
      <p>PROJECTS</p>
    </div> -->
</div>
<div class="container-fluid" id="mobile_p">
  <div class="row">
    <div class="col-sm-12" style="padding:0;">
        <ul style="display: -webkit-inline-box; width: 100%;">
            <li style="font-size: 16px; margin: 5%; cursor:pointer;" id="intro" (click)="msh1();">INTRO</li>
            <li style="font-size: 16px; margin: 5%; color: #f1b440; cursor:pointer;" id="agency" (click)="msh2();">AGENCY</li>
            <li style="font-size: 16px; margin: 5%; color: #f1b440; cursor:pointer;" id="tip" (click)="msh3();">TIP SESSIONS</li>
            <!-- <li style="font-size: 18px; margin: 5%; color: #f1b440;" id="projects" (click)="msh3();">Projects</li> -->
          </ul>
    </div>
  </div>
  <div class="row">
      <div class="col" style="padding:5%; padding-top:0;padding-bottom:2%;">
          <div id="mp1">
            <p>TIP is home to clean, contemporary design. We work with you to understand your business,
                needs and goals, and deploy our design expertise to help your brand get to where it should 
                be. We believe in clarity in messaging, to attract and retain the right kind of attention.
                We cut through the clutter in today’s over-saturated marketing landscape through effective
                and intuitive design. 
             </p>
             <p>At TIP, we are a lean, efficient team, with a wide range of expertise, that brings you bold,
                intuitive design, that is backed by a solid foundation of research. Work with us for smart,
                direct and collaborative design and marketing that helps you carve out the right space for
                your brand.
             </p>
        </div>
        <div id="mp2">
            <p>
                TIP was set up with the aim of making clean, modern design accessible to all, especially
                in the fast-maturing Indian market. Having studied and worked in design and marketing in
                the US, founder and CEO, Divya Hegde founded TIP with the aim to plug the vacuum for good
                contemporary design in India. TIP focuses on uncompromising quality, intuitive and purposeful
                design, based on contemporary design principles and navigating digital marketing based on a
                keen practical awareness of the digital landscape
            </p>
        </div>
        <div id="mp3">
            <p>
                At TIP, we believe that design is not just for companies, but for society. TIP Sessions is an
                integral part of our two-pronged strategy to spark change in social attitudes, where we leverage
                our skills and privilege as young, urban designers to make a real, measurable impact in society,
                on issues that matter.
            </p>
            <p>
                TIP Sessions is a forum for action on local issues that are addressed through intelligent design
                and targeted, local action. The goal is to bring together relevant stakeholders - be they
                government officials, academics, NGOs, expert bodies, and most importantly, the community - to
                facilitate a meaningful exchange of information and solutions that are actionable at the local
                level that create exponential knock-on effect in the community.
            </p>
            <p>
                Our ongoing initiative, TIP Sessions: Coastal Edit focuses on issues that affect communities in
                Coastal Karnataka, including water conservation, climate change, sustainable fishing practices,
                etc. while researching and working to introduce practices at the individual and community level
                that help to tilt the delicate ecological balance in Karnataka’s coastal belt towards greater
                sustainability.
            </p>
        </div>
        </div>
  </div>
</div>

<!-- FEATURED STARTS HERE -->
  <div class="container-fluid">
    <div class="featuredbox">
      <h3 style="text-align: left;">GOOD DESIGN IS OUR EXPERTISE.</h3>
      <p style="font-size: 12px;  color: black;">Within the first 5 years of its existence, TIP has worked with
        companies in real estate, fisheries , cosmetics, food & beverages, hospitality, executive
        coaching, tea & coffee estates, renewable energy, and many, many more. 
      </p>
      <p style="font-size: 12px;  color: black;">
          We apply our methodology to your brand and industry, which reflects in the range of
          sectors that we have designed for.
      </p>
    </div>
    <div class="row videorow" style="padding-bottom: 0;">
        <div class="col-12 col-sm-7" style="padding: 0;">
          <video controls disablePictureInPicture controlsList= "nodownload">
            <source src="../../../assets/The Integrated Penguin- Showreel 2017.mp4#t=2" type="video/mp4">
            <!-- <source src="../../../assets/The Integrated Penguin- Showreel 2017.mp4" type="video/mp4"> -->
            <!-- <source src="movie.ogg" type="video/ogg"> -->
                 Your browser does not support this video.
            <!-- <iframe class="video" src="https://www.youtube.com/embed/GS6N0eA4PWc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </video>
        </div>
        <div class="col-12 col-sm-5" id="box" style="padding: 0;">
            <div class="box video">
                <h3 style="text-align: left;">GOOD DESIGN<br/>IS OUR EXPERTISE.</h3>
                <p style="font-size: 12px; width: 80%;
                text-align: justify;">Within the first 5 years of its existence, TIP has worked with
                  companies in real estate, fisheries , cosmetics, food & beverages, hospitality, executive
                  coaching, tea & coffee estates, renewable energy, and many, many more. 
                </p>
                <p style="font-size: 12px; width: 80%;
                text-align: justify;">
                    We apply our methodology to your brand and industry, which reflects in the range of
                    sectors that we have designed for.
                </p>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col maindiv" style="padding: 0;">
          <div id="div1">
              <a href="https://tip.agency/crafted_trips.php" target="_blank"><img src="../../../assets/portfolio/portfolio_2/Crafted-Trips-co_small.png"></a>
              <a href="https://tip.agency/kingfisher" target="_blank"><img src="../../../assets/portfolio/portfolio_2/Kingfisher_small.png"></a>
              <a href="https://tip.agency/house_of_satori" target="_blank"><img src="../../../assets/portfolio/portfolio_2/HouseofSatori.png"></a>
              <a href="https://tip.agency/savyasachi" target="_blank"><img src="../../../assets/portfolio/portfolio_2/SavyaSachi_small.png"></a>
              <a href="https://tip.agency/sevenbeans" target="_blank"><img src="../../../assets/portfolio/portfolio_2/SevenBeans_small.png"></a>
              <a href="https://tip.agency/thiashola" target="_blank"><img src="../../../assets/portfolio/portfolio_2/Thiashola-small.png"></a>
          </div>
          <div id="div2">
              <a href="https://tip.agency/crafted_trips.php" target="_blank"><img src="../../../assets/portfolio/portfolio_2/Crafted-Trips-co_small.png"></a>
              <a href="https://tip.agency/kingfisher" target="_blank"><img src="../../../assets/portfolio/portfolio_2/Kingfisher_small.png"></a>
              <a href="https://tip.agency/house_of_satori" target="_blank"><img src="../../../assets/portfolio/portfolio_2/HouseofSatori.png"></a>
              <a href="https://tip.agency/savyasachi" target="_blank"><img src="../../../assets/portfolio/portfolio_2/SavyaSachi_small.png"></a>
              <a href="https://tip.agency/sevenbeans" target="_blank"><img src="../../../assets/portfolio/portfolio_2/SevenBeans_small.png"></a>
              <a href="https://tip.agency/thiashola" target="_blank"><img src="../../../assets/portfolio/portfolio_2/Thiashola-small.png"></a>
          </div>
        </div>
    </div>
  </div>
<!-- FEATURED ENDS -->

<!-- CAPABILITIES STARTS HERE -->
  <div class="container-fluid capabilities" style="padding-top: 5%; padding-bottom: 5%">
    <div class="row">
      <div class="col" style="padding-left: 16%;">
        <h3 style="margin-bottom: 4px;">CAPABILITIES</h3></div>
    </div>
    <div class="udr" style="margin-left: 15.4%;"></div>
    <div class="row" style="padding-top: 1%;">
        <div class="col" id="intro"><p class="cap_intro" style="color: black;">
            We craft branding, design, social media and marketing solutions, powered by a bold, experimental
            approach, that translate the actual business goals of the client into a reality. We believe in
            fully understanding our clients’ needs, and designing solutions that are collaborative, user-friendly
            and based on in-depth contextual research.
        </p></div>
    </div>
    <div id="rw1" class="row">
        <div class="col-6 col-sm-4">
          <img src="../../../assets/capabilities/Branding.png" style="width: 100%;">
          <h6>BRANDING</h6>
        </div>
        <div class="col-6 col-sm-4">
          <img src="../../../assets/capabilities/Strategy.png" style="width: 100%;">
          <h6>STRATEGY</h6>
        </div>
        <div class="col-6 col-sm-4">
          <img src="../../../assets/capabilities/Website development.png" style="width: 100%;">
          <h6>WEBSITE DESIGN<br/>& DEVELOPMENT</h6>
        </div>
        <div class="col-6 col-sm-4">
          <img src="../../../assets/capabilities/Film and Graphic.png" style="width: 100%;">
          <h6>FILM & GRAPHICS</h6>
        </div>
        <div class="col-6 col-sm-4">
          <img src="../../../assets/capabilities/Content.png" style="width: 100%;">
          <h6>CONTENT</h6>
        </div>
        <div class="col-6 col-sm-4">
          <img src="../../../assets/capabilities/Print and Packaging.png" style="width: 100%;">
          <h6>PRINT &<br/>PACKAGING</h6>
        </div>
        <div class="col-6 col-sm-4">
            <img src="../../../assets/capabilities/Gamification.png" style="width: 100%;">
            <h6>GAMIFICATION</h6>
        </div>
        <div class="col-6 col-sm-4">
            <img src="../../../assets/capabilities/Illustration.png" style="width: 100%;">
            <h6>ILLUSTRATION</h6>
        </div>
        <div class="col-6 col-sm-4">
            <img src="../../../assets/capabilities/Searchsocial.png" style="width: 100%;">
            <h6>SEARCH &<br/>SOCIAL MEDIA</h6>
        </div>
    </div>
  </div>
<!-- CAPABILITIES ENDS -->

<!-- SELECT CLIENTS STARTS HERE -->
  <div class="container-fluid" style="padding-top: 3%;">
    <div class="row">
      <div class="col select-client-desk" style="padding-left: 16%;">
        <h3 style="margin-bottom: 4px;">SELECT CLIENTS</h3></div>
    </div>
    <div class="udr udr_desk"></div>
    <div class="row categories" style="padding-top: 1%;">
        <div class="col" style="text-align: left; font-size: 12px;padding-left: 16%;padding-right: 16%;">
            <ul id="myUL1">
              <li style="border-right: none;">CATEGORIES : </li>
              <li id="cat1" (click)="search('images', 'cat1')" style="color: #f1b440;">ALL</li>
              <li id="cat2" (click)="search('branding', 'cat2')">BRANDING</li>
              <li id="cat3" (click)="search('strategy', 'cat3')">STRATEGY</li>
              <li id="cat4" (click)="search('website', 'cat4')">WEBSITE DEVELOPMENT</li>
              <!-- <li (click)="search('film')">FILM AND GRAPHICS</li> -->
              <li id="cat5" (click)="search('illustration', 'cat5')">ILLUSTRATION</li>
              <li id="cat6" (click)="search('gamification', 'cat6')">GAMIFICATION</li>
              <li id="cat7" (click)="search('content', 'cat7')">CONTENT</li>
              <li id="cat8" (click)="search('print', 'cat8')">PRINT & PACKAGING</li>
              <li id="cat9" (click)="search('search', 'cat9')">SEARCH & SOCIAL MEDIA</li>
              <li id="cat10" (click)="search('software', 'cat10')" style="border-right: none;">SOFTWARE DEVELOPMENT</li>
            </ul>
        </div>
      </div>
      <div class="row category_dropdown" style="padding-top: 1%;padding-left: 7%;padding-right: 7%;">
          <div class="col" style="text-align: center; font-size: 12px;padding-left: 2%;padding-right: 2%;">
            <div class="row">
              <div class="col-12">
                <h3 style="margin-bottom: 4px;">SELECT CLIENTS</h3>
              </div>
              <div class="udr"></div>
            </div>
            <div class="row mobcategories">
              <div class="col-5" style="padding-right: 0;">
                <h4 style="font-size: 16px;">Categories : </h4>
              </div>
              <div class="col-7" style="padding-left: 0;">
                  <select style="width: 100%;" (change)="search1($event);" id="sel">
                      <option selected value="images">ALL</option>
                      <option value="branding">BRANDING</option>
                      <option value="strategy">STRATEGY</option>
                      <option value="website">WEBSITE DEVELOPMENT</option>
                      <option value="illustration">ILLUSTRATION</option>
                      <option value="gamification">GAMIFICATION</option>
                      <option value="content">CONTENT</option>
                      <option value="print">PRINT & PACKAGING</option>
                      <option value="search">SEARCH & SOCIAL MEDIA</option>
                      <option value="software">SOFTWARE DEVELOPMENT</option>
                    </select>
              </div>
            </div>
          </div>
      </div>
      <div class="row selectclients" style="text-align: center;">
        <div class="col">
          <div class="row" id="myrow" >
            <div class="col-6 col-sm-3">
                <a href="http://kswdc.in/" target="_blank"><img class="images content website strategy" title="Karnataka Gov" src="../../../assets/search/goverment-of-karnataka.png"></a>
            </div>
            <div class="col-6 col-sm-3">
                <img class="images gamification" title="Election Commision of India" src="../../../assets/search/Election-Commission-of-India.png">
            </div>
            <div class="col-6 col-sm-3">
                <img class="images strategy illustration" title="Udupi Tourism" src="../../../assets/search/Udupi-tourism.png">
            </div>
            <div class="col-6 col-sm-3">
                <img class="images strategy search" title="Kingfisher" src="../../../assets/search/kingfisher.png">
            </div>
            <div class="col-6 col-sm-3">
                <img class="images software" title="Lancome" src="../../../assets/search/Lancome.png">
            </div>
            <div class="col-6 col-sm-3">
                <img class="images search" title="LeEco" src="../../../assets/search/leeco.png">
            </div>
            <div class="col-6 col-sm-3">
                <a href="http://thiashola.in/" target="_blank"><img class="images strategy search illustration website" title="Thiashola" src="../../../assets/search/Thiashola.png"></a>
            </div>
            <div class="col-6 col-sm-3">
                <a href="http://noeticstep.com/" target="_blank"><img class="images branding website content" title="noetic step" src="../../../assets/search/noetic-step.png"></a>
            </div>
            <div class="col-6 col-sm-3">
                <img class="images gamification" title="Madhuram" src="../../../assets/search/madhuram.png">
            </div>
            <div class="col-6 col-sm-3">
                <img class="images gamification" title="Mission Happiness" src="../../../assets/search/Mission-Happiness.png">
            </div>
            <div class="col-6 col-sm-3">
                <a><img class="images illustration print" title="Ipseand" src="../../../assets/search/Ipseand.png"></a>
            </div>
            <div class="col-6 col-sm-3">
                <img class="images content" title="Olive Energy" src="../../../assets/search/olive-energy.png">
            </div>
            <div class="col-6 col-sm-3">
                <a href="http://savyasachisarayu.com/" target="_blank"><img class="images website" title="Savyasachi Sarayu" src="../../../assets/search/savyasachi-sarayu.png"></a>
            </div>
            <div class="col-6 col-sm-3">
                <img class="images branding" title="SelectHer" src="../../../assets/search/selecther.png">
            </div>
            <div class="col-6 col-sm-3">
              <a href="https://sevenbeans.co/" target="_blank"><img class="images website" title="Seven Beans" src="../../../assets/search/seven-beans.png"></a>
            </div>
            <div class="col-6 col-sm-3">
              <img class="images branding print" title="Huda Bar" src="../../../assets/search/huda-bar.png">
            </div>
            <div class="col-6 col-sm-3">
              <img class="images content" title="Botama" src="../../../assets/search/botama.png">
            </div>
            <div class="col-6 col-sm-3">
              <img class="images content" title="Crafted Holidays" src="../../../assets/search/Crafted-Holidays.png">
            </div>
            <div class="col-6 col-sm-3">
              <img class="images print" title="Jantha Group" src="../../../assets/search/Janatha-Group.png">
            </div>
            <div class="col-6 col-sm-3">
              <img class="images print" title="Jus Amazin" src="../../../assets/search/jus-amazin.png">
            </div>
            <div class="col-6 col-sm-3">
              <img class="images strategy search illustration" title="LakeView" src="../../../assets/search/lakeview.png">
            </div>
            <div class="col-6 col-sm-3">
              <a href="http://heritagehomeindia.in/" target="_blank"><img class="images branding search" title="Kandavara" src="../../../assets/search/Kandavara.png"></a>
            </div>
            <div class="col-6 col-sm-3 mallet">
              <img class="images illustration" title="The Mallet" src="../../../assets/search/Mallet.png">
            </div>
            <div class="col-6 col-sm-3">
              <a href="http://savyasachigroup.com/" target="_blank"><img class="images print branding" title="Savyasachi" src="../../../assets/search/savyasachi.png"></a>
            </div>
          </div>
        </div>
      </div>
  </div>
<!-- SELECT CLIENTS ENDS -->

<!-- TESTIMONIALS STARTS HERE -->
<div class="container-fluid container-featured testimonial_container" style="position: relative;">
  <div class="row">
    <div class="col contactcol" style="padding-left: 16%;">
      <h3 style="margin-bottom: 4px;" class="featured_text">TESTIMONIALS</h3>
    </div>
  </div>
      <div class="udr"></div>
      <div class="row testimonials_row">
        <div class="col">
          <owl-carousel id="slider" [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']" >
              <div class="item">
                  <div>
                    <img style="margin: 0 auto;  width: auto;" src="../../../assets/testimonials/GOK_Testimonials.png">
                      <div class="card border-0">
                          <!-- <img class="card-img-top" src="{{item.url}}" style="height: 18rem;" alt="Card image cap"> -->
                          <div class="card-body card-body5">
                            <h5 class="card-title"><b>KSWDC</b></h5>
                            <p class="card-text">
                                First off, a HUGE thank you to the amazing team at The Integrated Penguin(TIP)
                                for playing an indispensable role in making Noētic Step, my dream, a reality.
                            </p>
                            <p class="card-text">
                                I have always valued team & collaboration, attitude and competence, and, TIP
                                represents all these and more. They know their craft, they listen, understand,
                                debate and pushback, all keeping the best interest of the client in mind. A
                                great, fun team with a great leader, they take the work seriously, while having
                                fun and not taking themselves, seriously. 
                            </p>
                            <p id="text_to_hide_5" class="card-text">
                                Great fun working with them, collaborating and sparring, and, creating an
                                identity for my firm. If I had a chance to do it all over again, I would
                                partner with TIP, again. Glad I discovered this gem of an agency, and, some
                                brilliant people...
                            </p>
                            <p (click)="show5()" id="read_more_testimonial_5">Read More...</p>
                          </div>
                        </div>
                  </div>
              </div>
              <div class="item">
                  <div>
                    <img style="width: auto; margin: 0 auto;" src="../../../assets/testimonials/thiashola_testimonials.png">
                      <div class="card border-0">
                          <div class="card-body" id="card-body4">
                              <h5 class="card-title"><b>Thiashola</b></h5>
                              <p class="card-text">
                                  First off, a HUGE thank you to the amazing team at The Integrated Penguin(TIP)
                                  for playing an indispensable role in making Noētic Step, my dream, a reality.
                              </p>
                              <p class="card-text">
                                  I have always valued team & collaboration, attitude and competence, and, TIP
                                  represents all these and more. They know their craft, they listen, understand,
                                  debate and pushback, all keeping the best interest of the client in mind. A
                                  great, fun team with a great leader, they take the work seriously, while having
                                  fun and not taking themselves, seriously. 
                              </p>
                              <p id="text_to_hide_4"  class="card-text">
                                  Great fun working with them, collaborating and sparring, and, creating an
                                  identity for my firm. If I had a chance to do it all over again, I would
                                  partner with TIP, again. Glad I discovered this gem of an agency, and, some
                                  brilliant people...
                              </p>
                              <p (click)= "show4()" id= "read_more_testimonial_4">Read More...</p>
                            </div>
                        </div>
                  </div>
              </div>
            <div class="item">
                <div>
                  <!-- <img style="visibility: hidden; width: 50%;" src="../../../assets/testimonials/Noetic-step.png"> -->
                  <img style="margin: 0 auto; width: auto;" src="../../../assets/testimonials/noeticstep_testimonials.png">
                    <div class="card border-0">
                        <!-- <img class="card-img-top" src="{{item.url}}" style="height: 18rem;" alt="Card image cap"> -->
                        <div class="card-body" id="card-body1">
                          <h5 class="card-title"><b>DN Prasad - former Google Director & Founder, Noētic Step
                          </b></h5>
                          <p class="card-text">
                              First off, a HUGE thank you to the amazing team at The Integrated Penguin(TIP)
                              for playing an indispensable role in making Noētic Step, my dream, a reality.
                          </p>
                          <p class="card-text">
                              I have always valued team & collaboration, attitude and competence, and, TIP
                              represents all these and more. They know their craft, they listen, understand,
                              debate and pushback, all keeping the best interest of the client in mind. A
                              great, fun team with a great leader, they take the work seriously, while having
                              fun and not taking themselves, seriously. 
                          </p>
                          <p id="text_to_hide_1" class="card-text">
                              Great fun working with them, collaborating and sparring, and, creating an
                              identity for my firm. If I had a chance to do it all over again, I would
                              partner with TIP, again. Glad I discovered this gem of an agency, and, some
                              brilliant people...
                          </p>
                          <p (click)="show1();" id="read_more_testimonial_1">Read More...</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="item">
                <div>
                  <img style="margin: 0 auto;  width: auto;" src="../../../assets/testimonials/kandavara_testimonials.png">
                    <div class="card border-0">
                        <!-- <img class="card-img-top" src="{{item.url}}" style="height: 18rem;" alt="Card image cap"> -->
                        <div class="card-body" id="card-body3">
                          <h5 class="card-title"><b>Kandavara</b></h5>
                          <p class="card-text">
                              First off, a HUGE thank you to the amazing team at The Integrated Penguin(TIP)
                              for playing an indispensable role in making Noētic Step, my dream, a reality.
                          </p>
                          <p class="card-text">
                              I have always valued team & collaboration, attitude and competence, and, TIP
                              represents all these and more. They know their craft, they listen, understand,
                              debate and pushback, all keeping the best interest of the client in mind. A
                              great, fun team with a great leader, they take the work seriously, while having
                              fun and not taking themselves, seriously. 
                          </p>
                          <p id="text_to_hide_3" class="card-text">
                              Great fun working with them, collaborating and sparring, and, creating an
                              identity for my firm. If I had a chance to do it all over again, I would
                              partner with TIP, again. Glad I discovered this gem of an agency, and, some
                              brilliant people...
                          </p>
                          <p (click)="show3()" id="read_more_testimonial_3">Read More...</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="item">
                  <img style="margin: 0 auto; width: auto;" src="../../../assets/testimonials/GOK_Testimonials.png">
                    <div class="card border-0">
                        <!-- <img class="card-img-top" src="{{item.url}}" style="height: 18rem;" alt="Card image cap"> -->
                        <div class="card-body card-body6">
                          <h5 class="card-title"><b>Wine Board</b></h5>
                          <p class="card-text">
                              First off, a HUGE thank you to the amazing team at The Integrated Penguin(TIP)
                              for playing an indispensable role in making Noētic Step, my dream, a reality.
                          </p>
                          <p class="card-text">
                              I have always valued team & collaboration, attitude and competence, and, TIP
                              represents all these and more. They know their craft, they listen, understand,
                              debate and pushback, all keeping the best interest of the client in mind. A
                              great, fun team with a great leader, they take the work seriously, while having
                              fun and not taking themselves, seriously. 
                          </p>
                          <p id="text_to_hide_6" class="card-text">
                              Great fun working with them, collaborating and sparring, and, creating an
                              identity for my firm. If I had a chance to do it all over again, I would
                              partner with TIP, again. Glad I discovered this gem of an agency, and, some
                              brilliant people...
                          </p>
                          <p (click)="show6()" id="read_more_testimonial_6">Read More...</p>
                        </div>
                    </div>
            </div>
            <div class="item">
                <div>
                  <!-- <img style="visibility: hidden; width: 20%;" src="../../../assets/testimonials/Savya-sachi.png"> -->
                  <img style="width: auto; margin: 0 auto;" src="../../../assets/testimonials/savyasachi_testimonials.png">
                  <!-- <img style="visibility: hidden; width: 30%;" src="../../../assets/testimonials/Savya-sachi.png"> -->
                    <div class="card border-0">
                        <!-- <img class="card-img-top" src="{{item.url}}" style="height: 18rem;" alt="Card image cap"> -->
                        <div class="card-body" id="card-body2">
                          <h5 class="card-title"><b>Savyasachi</b></h5>
                          <p class="card-text">
                              In the crowded real estate space, branding is crucial to build trust and
                              connect with potential customers. We found that TIP was absolutely the
                              right choice for us because of their holistic approach to rebranding, and
                              in-depth research and understanding of our business. Their modern and
                              refined design sense, work ethic and attention to detail translated into a
                              logo, website and collaterals that surpassed our expectations and hit exactly
                              the right note that we were looking to achieve with the rebranding exercise.
                              <span id="text_to_hide_2" class="card-text"><br/>
                              We appreciated that they went above and beyond for us with each deliverable -
                              starting from the logo, which was created through a thoughtful and meticulous
                              process; they made sure that the look and feel of the website, stationery and
                              collaterals was individually striking, but also melded into a cohesive and
                              elegant whole. 
                              </span>
                          </p>
                          <p (click)="show2()" id="read_more_testimonial_2">Read More...</p>
                        </div>
                    </div>
                </div>
            </div>
          </owl-carousel>
        </div>
      </div>
</div>
</div>
<!-- TESTIMONIALS ENDS -->

<!-- CONTACT DETAILS STARTS HERE -->
  <div class="container-fluid contact_container" style="color: black; padding-bottom: 5%; padding-top: 5%">
    <div class="row">
      <div class="col contactcol" style="padding-left: 16%;"><h3 style="margin-bottom: 4px;">CONTACT US</h3></div>
    </div>
    <div class="udr"></div>
    <div class="row" style="padding-left: 16%; padding-right: 16%;padding-top: 3%;">
      <div class="col icn1">
          <h5 style="display: flex; line-height: 1px;"><img src="../../../assets/icons/email.png"><p style="visibility: hidden;">..</p><span style="color:black; font-size: 16px;">hello@tip.agency</span></h5>
      </div>
      <div class="col icn2">
          <a href="https://tip.agency" target="_blank" style="text-decoration: none;"><h5 style="display: flex; line-height: 1px;"><img src="../../../assets/icons/website.png"><p style="visibility: hidden;">..</p><span style="color:black; font-size: 16px;">www.tip.agency</span></h5></a>
      </div>
    </div>
    <div class="row social" style="padding-left: 19%; padding-right: 19%; padding-top: 5%;">
        <div class="col">
            <h5 style="display: flex;"><a target="_blank" href="https://www.facebook.com/TIP.AGENCY/"><img src="../../../assets/icons/facebook.png"></a></h5>
        </div>
        <div class="col">
            <h5 style="display: flex;"><a target="_blank" href="https://www.instagram.com/theintegratedpenguin/"><img src="../../../assets/icons/instagram.png"></a></h5>
        </div>
        <div class="col">
            <h5 style="display: flex;"><a target="_blank" href="https://www.linkedin.com/company/the-integrated-penguin"><img src="../../../assets/icons/linkedin.png"></a></h5>
        </div>
        <div class="col">
            <h5 style="display: flex;"><a target="_blank" href="https://twitter.com/tipagency"><img src="../../../assets/icons/twitter.png"></a></h5>
        </div>
      </div>
  </div>
<!-- CONTACT DETAILS ENDS -->

  <i id="arrow" (click)="scroll()" style="display: none; position: fixed; bottom: 4%; right: 2%; cursor: pointer;" class="material-icons">
    arrow_upward
  </i>